body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
  background-color: white;
}

/* Tela de splash */
#splash {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #7CBD64; /* verde claro */
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 9999;
}

/* Logo animada */
#splash img {
  width: 150px;
  opacity: 0;
  transform: scale(0.5);
  animation: zoomIn 1.8s ease forwards;
}

@keyframes zoomIn {
  to {
    opacity: 1;
    transform: scale(1);
  }
}

/* Nome do app */
#splash h1 {
  margin-top: 20px;
  font-size: 2rem;
  font-weight: bold;
  color: white;
  letter-spacing: 2px;
  opacity: 0;
  animation: fadeIn 1.5s ease forwards 1s; /* entra depois do logo */
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
